<md-toolbar layout="row" >
    <md-button class="menu" hide-gt-sm ng-click="uwCtrl.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h3>Angular Material - Starter App</h3>

    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.signIn($event)" ng-if="!apTbCtrl.loggedInUser">Sign In</md-button>
    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.signUp()" ng-if="!apTbCtrl.loggedInUser">Sign Up</md-button>
    <span ng-if="apTbCtrl.loggedInUser">{{apTbCtrl.loggedInUser.name}}</span>
</md-toolbar>