<md-toolbar layout="row" >
   
    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.sign($event, 'in')" ng-if="apTbCtrl.getLoggedInUser().name">All photos</md-button>
    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.sign($event, 'up')" ng-if="apTbCtrl.getLoggedInUser().name">My photos</md-button>
    
<!--header-->
    <h3>Фотоальбом</h3>
<!--\header-->

<!--new user-->
    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.sign($event, 'in')" ng-if="!apTbCtrl.getLoggedInUser().name">Sign In</md-button>
    <md-button class="md-raised bmd-sign-btn" ng-click="apTbCtrl.sign($event, 'up')" ng-if="!apTbCtrl.getLoggedInUser().name">Sign Up</md-button>
<!--\new user-->
    
<!--user alreday logged in-->
    <md-menu ng-if="apTbCtrl.getLoggedInUser().name" md-position-mode="target-right target" id="user-menu">   
        <!--class="md-primary"-->
        <md-button
            class="md-raised"
            aria-label="Open phone interactions menu"
            md-hue-1
            ng-click="apTbCtrl.openUserMenu($mdOpenMenu, $event)">
                {{apTbCtrl.getLoggedInUser().name}}
        </md-button>
        <md-menu-content width="4">
        <md-menu-item ng-if="apTbCtrl._toDataDisplayed">
            <md-button ng-click="apTbCtrl.toUserData()">
                Профиль
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!apTbCtrl._toDataDisplayed">
            <md-button ng-click="apTbCtrl.toPhoto()">
                Фотографии
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="apTbCtrl.logOut()">
                Выйти
            </md-button>
        </md-menu-item>
        </md-menu-content>
    </md-menu>
<!--\user alreday logged in-->
    
</md-toolbar>