    <md-content flex id="content">
        
        <div class="preloader-bar" ng-if="alPhCtrl.imagesLoaded">
            <md-icon md-menu-align-target md-svg-icon="preloader"></md-icon>
        </div>
        
        <md-button ng-click="alPhCtrl.startAddingPhoto($event)">
            <md-icon md-menu-align-target md-svg-icon="remove"></md-icon>
            Добавить фотографию
        </md-button>
        
        <!--<div ng-if="alPhCtrl._addPhotoFormDisplayed">
            <form id="newPhoto" name="newPhoto">
                <label>Название: <input type="text" name="title" ng-model="alPhCtrl._uploadedImage.title"></label>
                <label>Файл: <input type="file" name="file" ng-model="alPhCtrl._uploadedImage.file"></label>
                <label>Описание: <textarea name="text" ng-model="alPhCtrl._uploadedImage.text"></textarea></label>
            </form>
            <md-button ng-click="alPhCtrl.cancelAddingPhoto()">
                <md-icon md-menu-align-target md-svg-icon="create"></md-icon>
                Отмена
            </md-button>
            <md-button ng-click="alPhCtrl.uploadPhoto()">
                <md-icon md-menu-align-target md-svg-icon="remove"></md-icon>
                Отправить
            </md-button>
        </div>-->
        
        <md-card ng-repeat="photo in alPhCtrl._images track by photo._id">
            <img ng-src="{{'/users_data/images/'+photo.src}}" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{photo.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <!--ratings-->
                <!--{{photo.rating}}
                {{alPhCtrl._userName}}-->
                <my-rating num="{{photo._id}}"></my-rating>
                <my-rating-clickable num="{{photo._id}}" user="{{alPhCtrl._userName}}">
                </my-rating-clickable>
                <!--buttons-->
                <md-button ng-click="alPhCtrl.editPhoto(photo._id)">
                    <md-icon md-menu-align-target md-svg-icon="create"></md-icon>
                    Редактировать
                </md-button>
                <md-button ng-click="alPhCtrl.deletePhoto(photo._id)">
                    <md-icon md-menu-align-target md-svg-icon="remove"></md-icon>
                    Удалить
                </md-button>
            </md-card-actions>
            <md-card-content>
                <p>Добавил: {{photo.uploadedBy}} - {{photo.uploaded}}</p>
                <p ng-if="photo.changed">Изменил: {{photo.changedBy}} - {{photo.changed}}</p>
                <p>{{photo.description}}</p>
            </md-card-content>
        </md-card>

    </md-content>
