<div flex layout="row">
     <!--ng-if="uwCtrl.getLoggedInUser().name">-->

<div layout="column">

    <md-toolbar layout="row" >
        <form>
            <label>
                <input type="radio" name="order" value="new">
                New first
            </label>
            <label>
                <input type="radio" name="order" value="popular">
                Popular first
            </label>
        </form>
    </md-toolbar>

    <md-content flex id="content">
        
        <md-card>
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">In-card mixed actions</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>



        <md-icon
            md-svg-icon="{{usPhCtrl.getUser().avatar}}"
            class="avatar"
            ng-click="usPhCtrl.show()"
            ng-if="usPhCtrl.getUser().id !== undefined">
        </md-icon>
        <h2>{{usPhCtrl.getUser().name}}</h2>
        <p>{{usPhCtrl.getUser().content}}</p>

        <md-button
            class="delete"
            md-no-ink
            ng-click="usPhCtrl.deleteUser(usPhCtrl.getUser().id)"
            aria-label="Remove {{usPhCtrl.getUser().name}}"
            ng-if="usPhCtrl.getUser().id !== undefined">
                <md-tooltip>Remove {{usPhCtrl.getUser().name}}</md-tooltip>
                <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

    </md-content>

</div>

</div>