<div layout="column">

    <md-toolbar layout="row" >
        <form>
            <label>
                <input type="radio" name="order" value="new">
                New first
            </label>
            <label>
                <input type="radio" name="order" value="popular">
                Popular first
            </label>
        </form>
    </md-toolbar>

    <md-content flex id="content">
        
        <md-button ng-click="usPhCtrl.consoleImages()">
            console.log(images)
        </md-button>
        
        <md-card ng-repeat="photo in usPhCtrl._images track by photo.id">
            <img ng-src="{{'/users_data/images/'+photo.src}}" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{photo.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
            <!--<md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
            </md-card-icon-actions>-->
                <md-button>
                    <md-icon md-menu-align-target md-svg-icon="create"></md-icon>
                    Редактировать
                </md-button>
                <md-button ng-click="usPhCtrl.deletePhoto(photo.id)">
                    <md-icon md-menu-align-target md-svg-icon="remove"></md-icon>
                    Удалить
                </md-button>
            </md-card-actions>
            <md-card-content>
                <p>Добавил: {{photo.uploadedBy}} - {{photo.uploaded}}</p>
                <p ng-if="photo.changed">Изменил: {{photo.changedBy}} - {{photo.changed}}</p>
                <p>{{photo.description}}</p>
            </md-card-content>
        </md-card>

        <md-icon
            md-svg-icon="{{usPhCtrl.getUser().avatar}}"
            class="avatar"
            ng-click="usPhCtrl.show()"
            ng-if="usPhCtrl.getUser().id !== undefined">
        </md-icon>
        <h2>{{usPhCtrl.getUser().name}}</h2>
        <p>{{usPhCtrl.getUser().content}}</p>

        <md-button
            class="delete"
            md-no-ink
            ng-click="usPhCtrl.deleteUser(usPhCtrl.getUser().id)"
            aria-label="Remove {{usPhCtrl.getUser().name}}"
            ng-if="usPhCtrl.getUser().id !== undefined">
                <md-tooltip>Remove {{usPhCtrl.getUser().name}}</md-tooltip>
                <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

    </md-content>

</div>