<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- build:css vendor.css -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
<!-- endbuild -->
<!-- build:css bundle.css -->
    <link rel="stylesheet" href="../prebuild/app.css"/>
    <link rel="stylesheet" href="../prebuild/b-app.css"/>
<!-- endbuild -->
</head>
    <body ng-app="photoAlbum" ng-cloack layout="column" ng-controller="UserWrapperController as uwCtrl">

    <app-toolbar></app-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
            ng-if="uwCtrl.getLoggedInUser().name"
            md-component-id="left"
            class="md-whiteframe-z2"
            ng-click="uwCtrl.toggleList()" >
            <user-menu></user-menu>
        </md-sidenav>

        <md-content flex id="content">
            <user-info ng-if="uwCtrl.getLoggedInUser().name"></user-info>
        </md-content>

    </div>
    <!--<user-wrapper></user-wrapper>-->
    
<!-- build:js vendor.js -->
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
<!-- endbuild -->
<!-- build:js bundle.js -->
    <script src="../prebuild/app.js"></script>
<!-- endbuild -->

</body>
</html>